@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-raleway: "Raleway", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --yellow-umkm: #ffa319;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

.custom-marker-icon {
  transform-origin: center center !important;
}

.leaflet-marker-icon.custom-marker-icon {
  will-change: transform;
  transition: none;
}
